// @media(max-width: $screen-md-max) {}

// @media(max-width: $screen-sm-max) {}

// @media(max-width: $screen-xs-max) {}

.container {
  @media(max-width: $screen-xs-max) {
    width: 100%;
  }
}

.section_title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;

  @media(max-width: $screen-md-max) {
    font-size: 35px;
  }

  @media(max-width: $screen-sm-max) {
    font-size: 30px;
  }

  @media(max-width: $screen-xs-max) {
    font-size: 25px;
  }

  @media(max-width: 500px) {
    font-size: 22px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.list_decoration {
  .list_row {
    border-radius: 18px;
    background-color: #EBF7FF;
    position: relative;
    padding: 10px 5px 10px 47px;
    min-height: 70px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all .2s linear;

    &:hover {
      background-color: #4080FE;
      color: #fff;

      &::after {
        background-color: #fff;
      }

      &::before {
        background-color: #fff;
      }
    }

    +.list_row {
      margin: 8px 0 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: 50%;
      background-color: #4080FE;
      opacity: 0.2;
      left: 11px;
      margin-top: -8px;
      transition: all .2s linear;
    }

    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      left: 15px;
      margin-top: -4px;
      background-color: #4080FE;
      box-shadow: 0px 1px 10px rgba(64, 128, 254, 0.7);
      transition: all .2s linear;
    }
  }
}

.form_control {
  transition: all .3s linear;
  border-radius: 8px;
  font-size: 12px;
  padding: 15px 8px;
  transition: all .3s linear;

  @media(max-width: $screen-xs-max) {
    padding: 10px 8px;
  }

  &.error {
    border-color: #FF785A !important;
    background-color: #FFECE8 !important;
    color: #FF785A;
  }
}

.checkbox_label {
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;

  [type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +.checkbox {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5606 0.171964C11.018 0.481534 11.1378 1.10326 10.8282 1.56063L8.54451 4.9346L5.32113 9.57093C5.13784 9.83457 4.8391 9.99416 4.51805 9.99994C4.19701 10.0057 3.89272 9.85698 3.70006 9.6001L0.700059 5.6001C0.368688 5.15827 0.458231 4.53147 0.900059 4.2001C1.34189 3.86873 1.96869 3.95827 2.30006 4.4001L4.46933 7.29246L6.89873 3.79805L9.17192 0.439573C9.48149 -0.0177939 10.1032 -0.137607 10.5606 0.171964Z' fill='%234080FE'/%3E%3C/svg%3E");
      }
    }
  }

  .checkbox {
    padding: 0 0 0 32px;
    display: inline-block;
    vertical-align: middle;
    position: relative;

    @media(max-width: $screen-xs-max) {
      padding: 0 0 0 25px;
    }

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      border: 1px solid #D4D3E0;
      position: absolute;
      left: 0;
      top: 1px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.selectric {
  background-color: #2B364F;
  border: none;
  border-radius: 10px;

  .label {
    color: #4080FE;
    height: auto;
    line-height: 1.1;
    font-weight: 600;
    font-size: 14px;
    padding: 17px 15px 17px 0;
    margin: 0 38px 0 20px;
  }

  .button {
    height: 100%;
    line-height: 1;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='%234080FE'/%3E%3C/svg%3E");


    &:after {
      display: none;
    }
  }
}

.selectric-items {
  background-color: #fff;
  box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
  border-radius: 5px;
  overflow: hidden;

  li {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    min-height: auto;

    &:hover,
    &.highlighted {
      background-color: #EBF1FF;
      color: #4080FE;
    }
  }
}
