// @media(max-width: $screen-md-max) {}

// @media(max-width: $screen-sm-max) {}

// @media(max-width: $screen-xs-max) {}


.section_title{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}