.b_main_banner {
  color: #fff;

  .video_link {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    width: 188px;
    height: 188px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='70' viewBox='0 0 52 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.8784C0 1.0777 0.894125 0.601722 1.55838 1.04881L50.7675 34.1703C51.3563 34.5667 51.3563 35.4332 50.7675 35.8295L1.55837 68.951C0.894123 69.3981 0 68.9221 0 68.1214V1.8784Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s linear;

    @media(max-width: $screen-md-max) {
      width: 128px;
      height: 128px;
      background-size: 40px;
    }

    @media(max-width: $screen-sm-max) {
      width: 88px;
      height: 88px;
      background-size: 30px;
    }


    &:hover {
      background-color: rgba(64, 128, 254, 0.6);

      &::before {
        background-color: rgba(64, 128, 254, 0.15);
      }
    }

    &::before {
      content: '';
      transition: all .3s linear;
      display: block;
      position: absolute;
      z-index: -1;
      top: -30px;
      bottom: -30px;
      right: -30px;
      left: -30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.15);

      @media(max-width: $screen-sm-max) {
        top: -15px;
        bottom: -15px;
        right: -15px;
        left: -15px;
      }
    }
  }

  .banner_wrapper {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 775px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media(max-width: $screen-md-max) {
      min-height: 575px;
    }

    @media(max-width: $screen-sm-max) {
      min-height: 475px;
    }

    @media(max-width: $screen-xs-max) {
      min-height: 375px;
      display: block;
      text-align: center;
    }
  }

  .banner_image_wrapper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 1270px;

    @media(max-width: $screen-xs-max) {
      position: static;
      padding: 15px;
    }
  }

  .banner_image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;

    @media(max-width: $screen-sm-max) {
      width: 44%;
    }

    @media(max-width: $screen-xs-max) {
      position: relative;
      left: 0;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto 0 auto auto;

      @media(max-width: $screen-xs-max) {
        position: static;
        margin: 0 auto;
      }
    }
  }

  .banner_inner {
    max-width: 55%;

    @media(max-width: $screen-md-max) {
      max-width: 50%;
    }

    @media(max-width: $screen-xs-max) {
      max-width: 100%;
    }
  }

  .banner_title {
    font-size: 56px;
    font-weight: 700;
    margin: 0 0 20px;

    @media(max-width: $screen-md-max) {
      font-size: 40px;
    }

    @media(max-width: $screen-sm-max) {
      font-size: 30px;
      margin: 10px auto 10px;
    }
  }

  .banner_content_wrapper {
    max-width: 500px;
    margin: 0 0 35px;

    @media(max-width: $screen-sm-max) {
      margin: 0 auto 15px;
    }
  }
}
