.b_platform{
  padding: 30px 0 20px;
  background-color: #E5F2FD;

  .section_title{
    margin: 0 auto 70px;
  }

  .platform_item{
    width: 33.33%;
    margin: 0 0 35px;
  }

  .platform_title{
    color: #4080FE;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 700;
  }
}