.b_portal{
  padding: 70px 0 140px;

  .section_title{
    margin: 0 auto 60px;
    max-width: 735px;
  }

  .portal_wrapper{
    margin: 0 -15px;
  }

  .portal_image{
    width: 58.33333333%;
  }

  .portal_info{
    width: 41.66666667%;
    padding: 0 15px;
  }

  .info_list{
    padding: 0 0 0 38px;
  }
}