.b_request{
  background-color: #E5F2FD;
  padding: 100px 0 120px;

  .section_title{
    margin: 0 0 60px;
  }

  .request_wrapper{
    background-color: #fff;
    box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
    border-radius: 18px;
    padding: 56px 56px;
  }
}