.b_story{
  padding: 40px 0 90px;

  .section_title{
    margin: 0 auto 190px;
  }


  .story_content{
    background-color: #EBF7FF;
    padding: 40px 40px;
    border-radius: 10px;
    line-height: 1.7;

    p{
      line-height: 1.7;
    }
  }
}