.b_technology {
  background-color: #A2DFFF;
  padding: 70px 0 60px;
  overflow: hidden;

  @media(max-width: $screen-sm-max) {
    padding: 40px 0;
  }

  .section_title {
    max-width: 560px;
    margin: 0 auto 60px;

    @media(max-width: $screen-sm-max) {
      margin: 0 auto 30px;
    }
  }

  .technology_wrapper {
    margin: 0 -15px;
    align-items: flex-start;

    @media(max-width: $screen-sm-max) {
      display: block;
      margin: 0;
    }
  }

  .technology_column {
    position: relative;
    width: 33.33%;

    @media(max-width: $screen-sm-max) {
      width: 100%;
      margin: 0 auto 30px;
    }

    &.first_column {

      .white_section_wrapper {
        @media(max-width: $screen-sm-max) {
          margin: 15px 0 0;
        }
      }

      .block_item_wrapper {
        @media(max-width: $screen-sm-max) {
          display: flex;
          flex-wrap: wrap;
        }

        .block_item {
          @media(max-width: $screen-sm-max) {
            width: calc(33.33% - 10px);
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 5px 10px;
          }

          @media(max-width: 630px) {
            width: calc(50% - 10px);
          }

          @media(max-width: 500px) {
            width: calc(100% - 10px);
          }
        }
      }

      .tech_title {
        @media(min-width: $screen-md-min) {
          transform: rotate(-90deg) translate(-50%, 0);
          transform-origin: left top;
          top: 50%;
          left: 0;
          margin: 0 0 0 -10px;
        }

        @media(max-width: $screen-sm-max) {
          position: static;
          margin: 0 auto;
        }
      }
    }

    &.second_column {
      padding: 0 4% 0 0;

      @media(max-width: $screen-sm-max) {
        padding: 0;
      }

      .group_wrapper {
        @media(max-width: $screen-sm-max) {
          width: 66.66%;
          margin: 0 !important;
        }
        @media(max-width: 630px) {
          width: 100%;
          margin: 0 0 15px !important;
        }
      }

      .white_section_inner {
        @media(max-width: $screen-sm-max) {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }

        .block_item {
          @media(max-width: $screen-sm-max) {
            width: calc(33.33% - 10px);
            margin: 0 auto;
          }
          @media(max-width: 650px) {
            width: calc(100% - 10px);
          }

          &:not(:last-of-type) {
            margin: 0 auto;
          }
        }
      }

      .block_item_wrapper {
        @media(max-width: $screen-sm-max) {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start
        }
        @media(max-width: 650px) {
          align-items: unset
        }

        .block_item {
          @media(max-width: $screen-sm-max) {
            width: calc(50% - 10px);
          }
        }
      }

      .block_item {
        margin: 0 auto;

        &:not(:last-of-type) {
          margin: 0 auto 20px;
        }
      }

      .group_wrapper {
        position: relative;
        margin: 0 0 20px;
      }

      .group_dashed {
        border-radius: 14px 0 0 14px;
        position: absolute;
        content: '';
        width: 23px;
        border: 1px dashed #4080FE;
        border-right: none;
        top: -55px;
        bottom: 0;
        right: 100%;
        margin: 0 35px 0 0;

        @media(max-width: $screen-md-max) {
          margin: 0 15px 0 0;
          width: 10px;
          top: -50px;
        }

        @media(max-width: $screen-sm-max) {
          display: none;
        }

        &::before {
          position: absolute;
          right: 100%;
          width: 20px;
          border-top: 1px dashed #4080FE;
          content: '';
          top: 50%;

          @media(max-width: $screen-md-max) {
            width: 15px;
          }
        }
      }
    }

    &.last_column {
      .tech_title {
        @media(min-width: $screen-md-min) {
          transform: rotate(90deg) translate(-50%, 0);
          transform-origin: bottom left;
          top: 50%;
          left: 0;
          margin: -50px 0 0 -30px;
        }

        @media(max-width: $screen-sm-max) {
          position: static;
          margin: 0 0 15px;
        }
      }
    }
  }

  .tech_title {
    position: absolute;
    z-index: 3;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 24px;
    background-color: #384053;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
    padding: 6px 10px;
    text-align: center;
    min-width: 218px;
    white-space: nowrap;

    @media(max-width: $screen-md-max) {
      font-size: 20px;
      padding: 6px 20px;
    }

    @media(max-width: $screen-sm-max) {
      display: block;
    }
  }

  .block_title {
    color: #4080FE;
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center;
    font-weight: bold;

    @media(max-width: $screen-md-max) {
      font-size: 20px;
    }
  }

  .white_section_wrapper {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
    max-width: 335px;
    margin: 0 auto;
    padding: 15px 15px;

    @media(max-width: $screen-md-max) {
      max-width: 280px;
    }

    @media(max-width: $screen-sm-max) {
      max-width: none;
    }
  }

  .block_item {
    font-size: 18px;
    padding: 10px 5px;
    background-color: #E9EFFF;
    border: 1px solid #B8CCFF;
    border-radius: 18px;
    font-weight: 700;
    text-align: center;
    color: #797B80;
    margin: 0 auto;

    @media(max-width: $screen-md-max) {
      font-size: 16px;
    }

    @media(max-width: $screen-xs-max) {
      font-size: 14px;
    }

    &.yellow {
      background-color: #FFF7E9;
      border: 1px solid #FFD6B8;
    }

    &.green {
      background-color: #E9FFEB;
      border: 1px solid #C6FFB8;
    }

    &:not(:last-of-type) {
      margin: 0 auto 4px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        +li {
          margin: 13px 0 0;
        }
      }
    }
  }

  .last_column_wrapper {
    max-width: 375px;
    margin: 0 auto;
    position: relative;

    @media(max-width: $screen-md-max) {
      max-width: 280px;
    }

    @media(max-width: $screen-sm-max) {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    @media(max-width: 600px) {
      display: block;
    }

    .group_dashed {
      border-radius: 14px 0 0 14px;
      position: absolute;
      content: '';
      width: 23px;
      border: 1px dashed #4080FE;
      border-right: none;
      top: 0;
      bottom: 0;
      right: 100%;
      margin: 0 10px 0 0;

      @media(max-width: $screen-sm-max) {
        display: none;
      }

      &::before {
        position: absolute;
        right: 100%;
        width: 60px;
        border-top: 1px dashed #4080FE;
        content: '';
        top: 30%;

        @media(max-width: $screen-md-max) {
          width: 30px;
        }
      }

      &::after {
        position: absolute;
        right: 100%;
        width: 60px;
        border-top: 1px dashed #4080FE;
        content: '';
        bottom: 30%;

        @media(max-width: $screen-md-max) {
          width: 30px;
        }
      }
    }
  }

  .serrvices_wrapper {
    margin: 0 -12px;

    @media(max-width: $screen-sm-max) {
      width: 50%;
      margin: 0;
    }

    @media(max-width: 600px) {
      width: 100%;
    }
  }

  .serrvice_item {
    width: calc(50% - 24px);
    margin: 0 12px 11px;
    box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
    border-radius: 18px;
    background-color: #fff;
    text-align: center;
    padding: 20px 5px;
    color: #797B80;
    font-weight: 700;

    @media(max-width: $screen-md-max) {
      width: calc(50% - 12px);
      margin: 0 6px 11px;
    }
  }

  .serrvice_image {
    position: relative;
    height: 50px;
    margin: 0 auto 10px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-height: 100%;
    }
  }

  .platform_list {
    margin: 40px auto 0;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
    padding: 30px 30px;
    color: #797B80;

    @media(max-width: $screen-md-max) {
      margin: 10px auto 0;
    }

    @media(max-width: $screen-sm-max) {
      width: calc(50% - 10px);
      margin: 0 5px 12px;
    }

    @media(max-width: 600px) {
      width: calc(100% - 10px);
      margin: 0 5px 0;
    }

    .list_item {
      position: relative;
      padding: 0 0 0 15px;

      &::before {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 8px;
        left: -3px;
        background-color: #4080FE;
        box-shadow: 0px 1px 10px rgba(64, 128, 254, 0.7);
      }

      &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 4px;
        background: #4080FE;
        opacity: 0.2;
        left: -7px;
      }


      +.list_item {
        margin: 15px 0 0;
      }
    }
  }
}
