.b_header {
  background-color: #fff;

  .header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo{
    padding: 4px 0;
  }

  .header_link {
    display: inline-block;
    vertical-align: middle;
    max-width: 100px;

    @media(max-width: 767px) {
      max-width: 90px;
    }

    @media(max-width: 374px) {
      max-width: 80px;
    }
  }

  .btn {
    padding: 13px 25px;

    @media(max-width: $screen-xs-max) {
      padding: 9px 10px;
      min-width: auto;
    }
  }

  .menu_wrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 0 70px 0 0;

    @media(max-width: $screen-md-max) {
      margin: 0 35px 0 0;
    }

    @media(max-width: $screen-xs-max) {
      margin: 0;
    }
  }

  .menu {
    @media(max-width: $screen-xs-max) {
      position: fixed;
      z-index: 10;
      top: 0;
      left: -280px;
      bottom: 0;
      width: 280px;
      transition: all .3s linear;
      background-color: #fff;
      padding: 40px 20px 20px;
      overflow: auto;
    }

    &.open {
      @media(max-width: $screen-xs-max) {
        left: 0;
        box-shadow: 0px 2px 50px rgba(10, 25, 38, 0.5);
      }
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    >ul {
      padding: 0;
      list-style: none;
      margin: 0;

      >li {
        display: inline-block;
        vertical-align: middle;

        @media(max-width: $screen-xs-max) {
          display: block;
        }

        +li {
          margin: 0 0 0 64px;

          @media(max-width: $screen-md-max) {
            margin: 0 0 0 34px;
          }

          @media(max-width: $screen-xs-max) {
            margin: 15px 0 0;
          }
        }

        >a {
          display: block;
          color: #797B80;
          transition: all .2s linear;
          padding: 27px 0;

          @media(max-width: $screen-xs-max) {
            padding: 0;
          }

          &:hover {
            color: #4080FE;
          }
        }
      }
    }

    .has-sub-menu {
      position: relative;

      &:hover {
        .sub-menu {
          @media(min-width: $screen-sm-min) {
            transition: all .2s linear;
            opacity: 1;
            visibility: visible;
            transform: none;
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      z-index: 2;
      top: 100%;
      border-radius: 5px;
      left: 0;
      box-shadow: 0px 2px 90px rgba(38, 80, 119, 0.1);
      background-color: #fff;
      
      @media(min-width: $screen-sm-min) {
        transition: all .1s linear;
        transform: translate(0, 10px);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        min-width: 188px;
      }

      @media(max-width: $screen-xs-max) {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
      }


      a {
        display: block;
        color: #797B80;
        padding: 9px 15px;
        font-size: 14px;
        transition: all .2s linear;

        &:hover {
          background-color: #EBF1FF;
          color: #4080FE;
        }
      }
    }
  }
}


.menu_toggler {
  position: relative;
  border: none;
  padding: 0;
  top: 0;
  right: 0;
  width: 40px;
  border-radius: 8px;
  height: 40px;
  display: none;
  z-index: 1001;
  background-color: #4080FE;

  @media(max-width: $screen-xs-max) {
    display: inline-block;
    vertical-align: middle;

  }

  span {
    display: block;
    width: 24px;
    height: 3px;
    padding: 0;
    background: #fff;
    position: absolute;
    transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
    transform-origin: center;
    left: 8px;
  }

  .toggler_top {
    top: 12px;
  }

  .toggler_middle {
    top: 19px;
  }

  .toggler_bottom {
    top: 26px;
  }

  &.menu-is-active span {
    transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

  &.menu-is-active span.toggler_top {
    top: 18px;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_bottom {
    top: 18px;
    transform: rotate(225deg);
  }
}
