footer.b_footer
  .container

    .footer_top

      .top_row.flex
        .menu_wrapper
          .lang_warpper
            select
              option(value="en") En
              option(value="en") En
          .main_menu
            .menu
              ul
                li
                  a(href="#") Home
                li
                  a(href="#") Product
                li
                  a(href="#") About Us
        
        .social_wrpper
          .social_list
            a(href="#")
      
      
      .bottom_row.flex
        .menu_wrapper
          .menu.second_menu
            ul
              li
                a(href="#") Legal
              li
                a(href="#") Privacy
              li
                a(href="#") Uninstall
              li
                a(href="#") Do Not Sell My Personal Information

        .copy_wrapper
          .copy 2003-2020 Tableau Software LLC Saleforce Company All Rights

    
    .footer_bottom.flex
      .footer_logo
        a.logo_link(href="#")
          img(src="images/footer_logo.png", alt="")
      
      .footer_content
        .content
          p "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."



