header.b_header
  .container
    
    .header_wrapper

      .header_logo
        a.header_link(href="#")
          img(src="images/logo.svg", alt="")
      
      .header_menu
        .menu_wrapper
          .menu
            ul
              li
                a(href="#") Home
              li.has-sub-menu
                a(href="#") Product
                .sub-menu
                  ul
                    li
                      a(href="#") Text
                    li
                      a(href="#") Text
                    li
                      a(href="#") Text
              li
                a(href="#") About Us

        a.btn.btn_blue(href="#") Request a Demo

        button.menu_toggler.jsMenu
          span.toggler_top
          span.toggler_middle
          span.toggler_bottom

