extends layouts/default

block content

  .b_main_banner
    .banner_slider
      .banner_slide
        .container




  .b_registration_info
    .container

      .section_title Fastest Onboarding Ever!

      .registration_wrapper.flex

        .step_wrapper
          .step_number Step 1
          .step_image
            img(src="images/step_image01.svg", alt="")
          .step_title Submit your product policy and related documents

        .step_wrapper
          .step_number Step 2
          .step_image
            img(src="images/step_image02.svg", alt="")
          .step_title Our technology analyzes and digitizes your insurance product

        .step_wrapper
          .step_number Step 3
          .step_image
            img(src="images/step_image03.svg", alt="")
          .step_title Automatically get your online portal and full suite of APIs for product and policy administration with cloud integrations



  .b_products
    .container

      .section_title Over 95% product coverage of the insurance industry

      .products_list.flex

        .product_item
          .product_image
            img(src="images/product_image01.svg", alt="")
          .product_title Life

        .product_item
          .product_image
            img(src="images/product_image02.svg", alt="")
          .product_title Homeowners

        .product_item
          .product_image
            img(src="images/product_image03.svg", alt="")
          .product_title Cyber Insurance

        .product_item
          .product_image
            img(src="images/product_image04.svg", alt="")
          .product_title Disabillity

        .product_item
          .product_image
            img(src="images/product_image05.svg", alt="")
          .product_title Engineering

        .product_item
          .product_image
            img(src="images/product_image06.svg", alt="")
          .product_title Auto

        .product_item
          .product_image
            img(src="images/product_image07.svg", alt="")
          .product_title Pet

        .product_item
          .product_image
            img(src="images/product_image08.svg", alt="")
          .product_title Health

        .product_item
          .product_image
            img(src="images/product_image09.svg", alt="")
          .product_title Renters

        .product_item
          .product_image
            img(src="images/product_image10.svg", alt="")
          .product_title Electronics

        .product_item
          .product_image
            img(src="images/product_image11.svg", alt="")
          .product_title Marine

        .product_item
          .product_image
            img(src="images/product_image12.svg", alt="")
          .product_title Lorem

        .product_item
          .product_image
            img(src="images/product_image13.svg", alt="")
          .product_title Travel

        .product_item
          .product_image
            img(src="images/product_image14.svg", alt="")
          .product_title Medical Doctor

        .product_item
          .product_image
            img(src="images/product_image15.svg", alt="")
          .product_title Art

        .product_item
          .product_image
            img(src="images/product_image16.svg", alt="")
          .product_title Credit

        .product_item
          .product_image
            img(src="images/product_image17.svg", alt="")
          .product_title Disaster

        .product_item
          .product_image
            img(src="images/product_image18.svg", alt="")
          .product_title Funeral

        .product_item
          .product_image
            img(src="images/product_image19.svg", alt="")
          .product_title Legal

        .product_item
          .product_image
            img(src="images/product_image20.svg", alt="")
          .product_title Executive

        .product_item
          .product_image
            img(src="images/product_image21.svg", alt="")
          .product_title Crop

        .product_item
          .product_image
            img(src="images/product_image22.svg", alt="")
          .product_title Drone

        .product_item
          .product_image
            img(src="images/product_image23.svg", alt="")
          .product_title Gig economy

        .product_item
          .product_image
            img(src="images/product_image24.svg", alt="")
          .product_title And More




  .b_portal
    .container

      .section_title Your own Branded Customer and Admin Portal and API’s

      .portal_wrapper.flex

        .portal_image
          img(src="images/portal.png", alt="")

        .portal_info
          .info_list.list_decoration
            .list_row Inregrate with Digital Partners Instantly
            .list_row Automate your workflow
            .list_row Elastic Pricing that scales for your needs
            .list_row Real-time dynamic product administration
            .list_row Focus on sales, avoid needless paperwork



  .b_technology
    .container

      .section_title Our Technology Stack has you Covered


      .technology_wrapper.flex

        .technology_column.first_column
          .tech_title Design

          .white_section_wrapper
            .block_title PD Creator
            .block_item_wrapper
              .block_item Document Management
              .block_item Rates Excel Upload
              .block_item Platform API Consumed
              .block_item Rule Definition
              .block_item Formula Definition<br> Drag In & Out
              .block_item 3rd Party API Consumed
              .block_item Parameters
              .block_item Cloning & Versioning
              .block_item Full Product Design

        
        .technology_column
          .white_section_wrapper
            .block_title PD Dock
            .block_item_wrapper
              .block_item
                ul
                  li API Server
                  li Tenant Management
                  li Data Management
                  li API Integrations
                  li Branding
              .block_item
                ul
                  li Easy Integration
                  li Speed to Market
                  li Quick
                  li Deployment
              .block_item
                .block_title Supports
                ul
                  li Life
                  li Group
                  li General
                  li Health
              

        
        .technology_column.last_column
          .tech_title Micro-serrvice architecture




  .b_opportunities
    .container

      .section_title Our APIs enable organizing, sharing data and new distribution opportunities, inside and out





  .b_future
    .container

      .section_title Be Ready Today for the Future


      .future_wrapper.flex

        .future_info

          .future_block_wrapper
            .icon_wrapper
              img(src="images/future_image.svg", alt="")
            .title RESTful API’s
            .list
              ul
                li Technology Agnostic
                li Scalable Infrastructure
                li Powerful Automation
                li Secure Data Management
                li 24/7 Uptime & Remote Support

          .future_info_list
          
            .future_info_item
              .item_icon
                img(src="images/future_info_icon01.svg", alt="")
              .item_title Blockchain

            .future_info_item
              .item_icon
                img(src="images/future_info_icon02.svg", alt="")
              .item_title IOT

            .future_info_item
              .item_icon
                img(src="images/future_info_icon03.svg", alt="")
              .item_title Online Banking and Payments

            .future_info_item
              .item_icon
                img(src="images/future_info_icon04.svg", alt="")
              .item_title Social Media

            .future_info_item
              .item_icon
                img(src="images/future_info_icon05.svg", alt="")
              .item_title Online insurance aggregator

            .future_info_item
              .item_icon
                img(src="images/future_info_icon06.svg", alt="")
              .item_title Product and Broker Partners

            .future_info_item
              .item_icon
                img(src="images/future_info_icon07.svg", alt="")
              .item_title E-commerce

            .future_info_item
              .item_icon
                img(src="images/future_info_icon08.svg", alt="")
              .item_title Chatbot

            .future_info_item
              .item_icon
                img(src="images/future_info_icon09.svg", alt="")
              .item_title Core Insurance Systems

            .future_info_item
              .item_icon
                img(src="images/future_info_icon10.svg", alt="")
              .item_title Customer Portal

            .future_info_item
              .item_icon
                img(src="images/future_info_icon11.svg", alt="")
              .item_title Mobile APP


        .future_description
          .description_list.list_decoration
            .list_row Inregrate with Digital Partners Instantly
            .list_row Automate your workflow
            .list_row Elastic Pricing that scales for your needs
            .list_row Real-time dynamic product administration
            .list_row Focus on sales, avoid needless paperwork


  .b_platform
    .container

      .section_title We provide you a Full Service Cloud Platform

      .platform_wrapper.flex

        .platform_item
          .platform_image
            img(src="images/platform_image01.svg", alt="")
          .platform_title Policy Administration
          .platform_content Proposal, quote, claims, renewals, amendments, cancellations

        .platform_item
          .platform_image
            img(src="images/platform_image02.svg", alt="")
          .platform_title Automated Underwriting
          .platform_content Rating tables and formulae

        .platform_item
          .platform_image
            img(src="images/platform_image03.svg", alt="")
          .platform_title Client Online Self-service
          .platform_content lorum ipsum

        .platform_item
          .platform_image
            img(src="images/platform_image04.svg", alt="")
          .platform_title Document Management
          .platform_content Store, share, accessibles

        .platform_item
          .platform_image
            img(src="images/platform_image05.svg", alt="")
          .platform_title Claims Submission
          .platform_content lorum ipsum

        .platform_item
          .platform_image
            img(src="images/platform_image06.svg", alt="")
          .platform_title Secure & Compliant
          .platform_content lorum ipsum

        .platform_item
          .platform_image
            img(src="images/platform_image07.svg", alt="")
          .platform_title Accessible Anywhere
          .platform_content From your phone or your desktop

        .platform_item
          .platform_image
            img(src="images/platform_image08.svg", alt="")
          .platform_title Billings and Payments
          .platform_content lorum ipsum

        .platform_item
          .platform_image
            img(src="images/platform_image09.svg", alt="")
          .platform_title Real-time Reporting & BI
          .platform_content lorum ipsum

        .platform_item
          .platform_image
            img(src="images/platform_image10.svg", alt="")
          .platform_title Data Migration
          .platform_content From your phone or your desktop

        .platform_item
          .platform_image
            img(src="images/platform_image11.svg", alt="")
          .platform_title Product Administration
          .platform_content lorum ipsum

        .platform_item
          .platform_image
            img(src="images/platform_image12.svg", alt="")
          .platform_title Full Service Remote support
          .platform_content lorum ipsum





  .b_partners
    .container
      .section_title Our Partners and Clients

      .partners_wrapper.flex

        .partner_item
          .item_link
            img(src="images/partner01.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner02.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner03.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner04.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner05.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner06.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner07.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner08.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner01.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner02.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner03.svg", alt="")
        .partner_item
          .item_link
            img(src="images/partner04.svg", alt="")



  .b_story
    .container
      .section_title Our Story

      .story_wrapper.flex

        .story_image
          .image_wrapper
            img(src="images/story_image.png", alt="")
        
        .story_content_wrapper
          .content_wrapper
            .story_content
              p While renewing our insurance each year, we noticed our broker goes through the typical cycle: 1-2 weeks to get an initial quote, then another 1-2 weeks for a re-quote for the quotes we weren’t happy with, then finding time to sign the policy documents and then tediously paying via bank transfer and then having final documents mailed to us. It’s been like this each year, for the past 10 years… 
              p Not only did we realize it was inefficient, it was an incredible waste of paper (seriously, who reads their policy documents). Moreover, when we visited the broker, we realized they were sending back and forth excel documents to their product carriers… This is the status quo for over 90% of the insurance industry, globally. We realized something had to change, and thus, PolicyDock was born!
        


  .b_management
    .container
      .section_title Our Management

      .management_wrapper.jsManagementWrapper

        .management_item
          .management_image
            .image_wrapper
          .management_content
            .title Roger Ying
            .sub_title_wrapper
              .sub_title CEO
              a.acc_link(href="#")
                img(src="images/linkedin.svg", alt="")
            .management_list
              ul
                li Founder & CEO Pandai (acquired)
                li Early stage at CreditEase (started NYSE: YRD
                li Cybernaut Venture Capital
                li UCSD, Stanford MS

        .management_item
          .management_image
            .image_wrapper
          .management_content
            .title Danny Yang
            .sub_title_wrapper
              .sub_title CTO
              a.acc_link(href="#")
                img(src="images/linkedin.svg", alt="")
            .management_list
              ul
                li Founder & CEO Blockseer (acquired)
                li Founder & CTO of Maicoin, ScoreData, Seravia
                li Harvard, Stanford PhD CS

        .management_item
          .management_image
            .image_wrapper
          .management_content
            .title Morris Ying
            .sub_title_wrapper
              .sub_title Partner
              a.acc_link(href="#")
                img(src="images/linkedin.svg", alt="")
            .management_list
              ul
                li Founder of MYA, our insurance technology partner
                li 30 years of software experience in the insurance and financial services industry

        .management_item
          .management_image
            .image_wrapper
          .management_content
            .title Morris Ying
            .sub_title_wrapper
              .sub_title Partner
              a.acc_link(href="#")
                img(src="images/linkedin.svg", alt="")
            .management_list
              ul
                li Founder of MYA, our insurance technology partner
                li 30 years of software experience in the insurance and financial services industry

        .management_item
          .management_image
            .image_wrapper
          .management_content
            .title Morris Ying
            .sub_title_wrapper
              .sub_title Partner
              a.acc_link(href="#")
                img(src="images/linkedin.svg", alt="")
            .management_list
              ul
                li Founder of MYA, our insurance technology partner
                li 30 years of software experience in the insurance and financial services industry



  .b_team
    .container
      .section_title Our Team

      .team_wrapper.flex

        .team_image
          img.team_image_decor(src="images/team_image_decor.svg", alt="")
          .image_wrapper
            img(src="images/team_image.svg", alt="")
        
        .team_content
          img.team_content_image(src="images/team_content_image.svg", alt="")
          .team_content_inner
            .content
              p Today, We’re a diverse team of old school meets new school with backgrounds in fintech, blockchain, big data, AI & machine learning and venture capital with combined experience of over 70 years of software development in the insurance industry whom have worked on 3 different continents



  .b_subscribe
    .subscribe_decor
    .subscribe_wrapper
      .container

        .section_title  Subscribe to our Newsletter

        .subscribe_form_wrapper
          form
            .form_wrapper.flex
              .input_wrapper
                label.label E-mail
                input.form_control(type="text" placeholder="Your E-mail")
                .error_message Error massage
              .btn_wrapper
                input.btn.btn_white(type="submit", value="Subscribe")

        
        .follow_wrapper
          .follow_title Follow us

          .social_list
            a.list_link(href="#")
              | <svg width="49" height="41" viewBox="0 0 49 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M49 4.85094C47.1965 5.67413 45.2614 6.23241 43.2282 6.48165C45.3043 5.20105 46.8934 3.16985 47.6466 0.756958C45.6992 1.94287 43.5497 2.80399 41.2593 3.2708C39.4253 1.25536 36.8165 0 33.923 0C28.3717 0 23.8706 4.63651 23.8706 10.3517C23.8706 11.1623 23.9594 11.954 24.1309 12.711C15.778 12.2788 8.37125 8.15647 3.41399 1.89239C2.54744 3.41901 2.05448 5.19784 2.05448 7.09666C2.05448 10.6892 3.83041 13.8591 6.52494 15.7136C4.87759 15.6568 3.32824 15.19 1.97185 14.4141V14.5434C1.97185 19.5584 5.43797 23.7439 10.0339 24.6965C9.19184 24.9299 8.30391 25.0592 7.38532 25.0592C6.73623 25.0592 6.10852 24.993 5.49305 24.8668C6.7729 28.9829 10.484 31.9761 14.881 32.0581C11.4424 34.8337 7.10669 36.4833 2.39748 36.4833C1.5861 36.4833 0.786884 36.4329 0 36.3414C4.449 39.2842 9.73084 41 15.4076 41C33.8986 41 44.0061 25.2232 44.0061 11.5408L43.9724 10.2004C45.9473 8.74938 47.6558 6.92635 49 4.85094Z" fill="#F8F8F8"/></svg>
            a.list_link(href="#")
              | <svg width="45" height="41" viewBox="0 0 45 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.983006 12.972H9.054V41H0.983006V12.972ZM5.0185 9.0648C3.53537 9.0648 2.32817 8.63067 1.3969 7.76239C0.465634 6.89411 0 5.81745 0 4.5324C0 3.24735 0.465634 2.17069 1.3969 1.30242C2.32817 0.43414 3.53537 0 5.0185 0C6.50163 0 7.70883 0.416773 8.6401 1.25032C9.57137 2.08386 10.037 3.1258 10.037 4.37612C10.037 5.73063 9.57137 6.85938 8.6401 7.76239C7.70883 8.63067 6.50163 9.0648 5.0185 9.0648Z" fill="#F8F8F8"/><path d="M33.4626 12.5553C36.9118 12.5553 39.6883 13.5972 41.7923 15.6811C43.9308 17.7649 45 20.856 45 24.9543V41H36.929V26.2046C36.929 23.9818 36.4461 22.3321 35.4804 21.2554C34.5146 20.144 33.1177 19.5883 31.2897 19.5883C29.2547 19.5883 27.6336 20.2308 26.4264 21.5159C25.2192 22.7662 24.6156 24.6417 24.6156 27.1423V41H16.5446V12.972H24.2534V16.2541C25.3226 15.0733 26.6506 14.1703 28.2372 13.5451C29.8238 12.8852 31.5656 12.5553 33.4626 12.5553Z" fill="#F8F8F8"/></svg>
            a.list_link(href="#")
              | <svg width="23" height="47" viewBox="0 0 23 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9302 47V25.5627H21.7087L22.7256 17.2057H14.9302V11.871C14.9302 9.45217 15.5606 7.8038 18.8331 7.8038L23 7.80198V0.32719C22.2794 0.227821 19.8058 0 16.9267 0C10.9149 0 6.79902 3.89387 6.79902 11.0433V17.2057H0V25.5627H6.79902V47H14.9302Z" fill="#F8F8F8"/></svg>
            a.list_link(href="#")
              | <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.6258 0H38.3736C46.4389 0 53.0003 6.56144 53 14.6261V38.3739C53 46.4386 46.4389 53 38.3736 53H14.6258C6.56112 53 0 46.4389 0 38.3739V14.6261C0 6.56144 6.56112 0 14.6258 0ZM38.374 48.2954C43.8461 48.2954 48.298 43.8437 48.298 38.3717L48.2977 14.6239C48.2977 9.15213 43.8457 4.7002 38.3737 4.7002H14.6259C9.15414 4.7002 4.70251 9.15213 4.70251 14.6239V38.3717C4.70251 43.8437 9.15414 48.2957 14.6259 48.2954H38.374ZM12.6195 26.5024C12.6195 18.8481 18.8464 12.6211 26.5005 12.6211C34.1545 12.6211 40.3814 18.8481 40.3814 26.5024C40.3814 34.1563 34.1545 40.383 26.5005 40.383C18.8464 40.383 12.6195 34.1563 12.6195 26.5024ZM17.3994 26.5C17.3994 31.5184 21.4825 35.6009 26.5008 35.6009C31.519 35.6009 35.6021 31.5184 35.6021 26.5C35.6021 21.4813 31.5193 17.3984 26.5008 17.3984C21.4822 17.3984 17.3994 21.4813 17.3994 26.5ZM38.9677 8.67996C39.6701 7.97444 40.6472 7.57178 41.6418 7.57178C42.6398 7.57178 43.6172 7.97444 44.3193 8.67996C45.0248 9.38204 45.4275 10.3594 45.4275 11.3575C45.4275 12.3521 45.0248 13.3295 44.3193 14.035C43.6138 14.7371 42.6398 15.1432 41.6418 15.1432C40.6472 15.1432 39.6698 14.7371 38.9677 14.035C38.2622 13.3295 37.8561 12.3524 37.8561 11.3575C37.8561 10.3594 38.2618 9.38204 38.9677 8.67996Z" fill="#F8F8F8"/></svg>


  .b_request
    .container
    
      .section_title Request a Demo

      .request_wrapper
        form
          .form

            .form_top.flex

              .form_items
                .form_row_wrapper
                  .form_row
                    .item_label Business E-mail
                    input.form_control(type="email" placeholder="Your E-mail")

                  .form_row
                    .item_label Name
                    input.form_control(type="text" placeholder="First Name")

                  .form_row
                    .item_label Last Name
                    input.form_control(type="text" placeholder="Last Name")

                  .form_row
                    .item_label Company Name
                    input.form_control(type="text" placeholder="Company Name")

                  .form_row
                    .item_label Phone Number
                    input.form_control(type="tel" placeholder="Phone Number")

              .form_description
                .description_list
                  ul
                    li No code configuration. Drag and drop interface
                    li Launch new products in days not months
                    li Reduce customer acquisition and operating costs
                    li One platform, thousands of possibilities
                    li A true quote and buy digital platform
                    li No more product innovation pain points


            .form_bottom

              .title Please indicate the area(s) you operate in

              .checkbox_wrapper

                .checkbox_list
                  
                  label.checkbox_label
                    input(type="checkbox", name="")
                    span.checkbox P&C

                  label.checkbox_label
                    input(type="checkbox", name="")
                    span.checkbox Life and health

                  label.checkbox_label
                    input(type="checkbox", name="")
                    span.checkbox London markets

                  label.checkbox_label
                    input(type="checkbox", name="")
                    span.checkbox MGAs

                  label.checkbox_label
                    input(type="checkbox", name="")
                    span.checkbox Microsoft

                  label.checkbox_label
                    input(type="checkbox", name="")
                    span.checkbox Join our mailing list

              .agree
                label.checkbox_label
                  input(type="checkbox", name="")
                  span.checkbox I consent to INSTANDA contacting me. Please see our Privacy Policy to find out more*

            .form_btn
              input.btn.btn_blue(type="submit", value="Submit")



